body {
    padding-top: 54px;
    /* background: rgb(239, 240, 240); */
  }
  .i-am-centered { 
    margin: auto;
      width: 90%;
      
  }
  .leave-review {
      justify-content: center;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  