<!doctype html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="img/logo.png" />
        <title>Edit Profile</title>
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="style/bootstrap.min.css" rel="stylesheet">
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <!-- Custom styles for this template -->
        <link href="style/editProfile.css" rel="stylesheet">
  </head>
  <body class="main">
    <div id="editProfile">
        <div class="login-screen"></div>
            <div class="login-center">
                <div class="container min-height" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-xs-4 col-md-offset-8">
                            <div class="login" id="card">
                                <div class="front signin_form"> 
                                <h2>Edit Your Tutor Account</h2>
                                  <form class="login-form">

                                     <div class="form-group">
                                         <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Type your name" v-model="name" v-bind:style="nameError ? 'border: 2px solid #d9534f' : ''">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-user"></i>
                                                </span>
                                            </div>
                                        </div>
                                      
                                    <div class="form-group">
                                          <div class="input-group">
                                              <input type="email" class="form-control" placeholder="Type your email" v-model="email" v-bind:style="emailError ? 'border: 2px solid #d9534f' : ''">
                                              <span class="input-group-addon">
                                                  <i class="glyphicon glyphicon-envelope"></i>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <div class="input-group">
                                              <input type="password" class="form-control" placeholder="Type your old password" v-model="password" v-bind:style="passwordError ? 'border: 2px solid #d9534f' : ''">
                                              <p v-show="passwordError" class="errorMessage">Invalid Password (Must have at least 8 characters)</p>
                                              <span class="input-group-addon clickable">
                                                 <span class="glyphicon glyphicon-lock"></span>
                                              </span>
                                          </div>
                                      </div>
                                      <div class="form-group">
                                            <div class="input-group">
                                                <input type="password" class="form-control" placeholder="Type your new password">
                                                
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <div class="input-group">
                                                        <textarea class="form-control tall" rows="4" cols="50" placeholder="Describe yourself here..." v-model="description" v-bind:style="descriptionError ? 'border: 2px solid #d9534f' : ''" ></textarea>
                                                        <p v-show="descriptionError" class="errorMessage">Maximum of 250 characters</p>
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-align-left"></i>
                                                    </span>
                                                </div>
                                                <p class="errorMessage" style="color: grey; text-align: right">{{descRemaining}} characters remaining</p>
                                            </div>
                                            <div class="form-group">
                                                    <div class="input-group">
                                                            <input class="form-control" type='number' placeholder="price in $ per hour" v-model="price" min="0" v-bind:style="priceError ? 'border: 2px solid #d9534f' : ''">
                                                         <p v-show="priceError" class="errorMessage">Please input a price</p>
                                                        <span class="input-group-addon">
                                                            <i class="glyphicon glyphicon-align-left"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                        
                                      
                                      <div class="form-group sign-btn">
                                          <input v-on:click="submitChanges" class="btn" value="Save Changes">
                                      </div>
                                  </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>   
   <!-- Optional JavaScript -->
   <script src="script/libs/vue.js"></script>
   <script src="script/libs/jwt-decode.min.js"></script>

   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="script/libs/jquery-3.3.1.min.js"></script>
   <script src="script/libs/popper.min.js"></script>
   <script type="text/javascript" src="script/libs/validator.min.js"></script>
   <script src="script/libs/bootstrap.min.js"></script>
   <script src="script/editProfile.js"></script>
  </body>
</html>