<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Profile</title>
        <link rel="shortcut icon" href="../img/logo.png" />
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../style/bootstrap.min.css">
         <!-- Other CSS -->
        <link rel="stylesheet" href="../style/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../style/editProfile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        
    </head>
    <body>
     <div id="editProfile">
        <button  class="home-button btn btn-outline-light" onclick="location.href = '/'"> <i class="fa fa-home "></i></button>
        <button class="deleteButton btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash "></i></button> 
      <div  id="form">
          <h1>Edit Your Tutor Profile</h1>
            <label>Change your basic information:</label>
          <!-- Name INPUT -->
            <div class="input-container">        
              
              <input type="text" placeholder="Name" v-model="name" @click="nameError=false" v-bind:style="nameError ? 'border: 2px solid #d9534f' : ''">
              <i class="fa fa-user icon" v-bind:style="nameError ? 'border: 2px solid #d9534f' : ''" ></i>

            </div>
            <!-- EMAIL INPUT -->
            <div class="input-container">                      
                <input type="email" id="mail" placeholder="Email" @click="emailError=false" v-model="email" v-bind:style="emailError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-envelope icon" v-bind:style="emailError ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
          
            <!-- DESCRIPTION INPUT -->
            <div class="input-container">                      
                <textarea placeholder="Describe yourself here..." v-model="description" @click="descriptionError=false" v-bind:style="descriptionError ? 'border: 2px solid #d9534f' : ''" ></textarea>
                <i class="fa fa-align-left icon" v-bind:style="descriptionError ? 'border: 2px solid #d9534f' : ''" ></i>  
            </div>
            <p class="errorMessage" style="color: grey; text-align: right; margin-top: -10px;">{{descRemaining}} characters remaining</p>
            <p v-show="descriptionError" class="errorMessage">Maximum of 250 characters</p>

            <!-- PRICE INPUT -->
            <div class="input-container">                      
                <input type="number"  placeholder="price in $ per hour" @click="priceError=false" v-model="price" min="0" v-bind:style="priceError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-dollar icon"></i>  
            </div>
            <p v-show="priceError" class="errorMessage">Please input a price</p>

            <!-- SUBJECT INPUT / CALL TO MODAL -->
            <div class="input-container">                      
                <button type="button" class="subjectButton" data-toggle="modal" @click="subjectsError=false" data-target="#subjectsModal" v-bind:style="subjectsError ? 'border: 2px solid #d9534f' : ''">Choose Subjects</button>
                <i class="fa fa-flask icon"></i>  
            </div>
            
            <!-- Optional Inputs -->
            <label>Change your contact information:</label>

            <!-- Phone Number Input -->
            <div class="input-container">                      
                <input type="text" placeholder="e.g. 514 123 4567" @click="phoneError=false" v-model="phone" v-bind:style="phoneError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-phone icon" v-bind:style="phoneError ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
            <p v-show="phoneError" class="errorMessage">Please enter a valid phone number</p>

            <!-- Facebook Link Input -->
            <div class="input-container">                      
                <input type="text" placeholder="e.g. www.facebook.com/name" @click="facebookError=false" v-model="facebook" v-bind:style="facebookError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-facebook icon" v-bind:style="facebookError ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
            <p v-show="facebookError" class="errorMessage">Please enter a valid facebook profile url</p>
            
            <!-- Reviewer Code Input -->
            <label>Change your review code:</label>
            <div class="input-container">                      
                <input type="text" placeholder="Enter a review code" @click="reviewerCodeError=false" v-model="reviewerCode" v-bind:style="reviewerCodeError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-lock icon" v-bind:style="reviewerCodeError ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
            <p v-show="reviewerCodeError" class="errorMessage">Please enter a review code</p>

            <label>Update your profile picture:</label>

            <!-- Input for Profile Picture -->
            <div class="input-container">
                <label for="fileInput" id="profilePicLabel">
                    <img id="profilePic" :src="previewImageURL" alt=" Invalid URL"/>
                </label>

                <input @change="updateImageVar" type="file" value="upload" id="fileInput" accept="image/jpeg, image/png image/jpg"  @change="onFileChange" />
            </div>

            <!-- OLD PASSWORD INPUT -->
            <label>Change your password:</label>
            <div class="input-container">                      
                <input type="password" placeholder="Enter Old Password" @click="oldPasswordIncorrect=false" v-model="oldPassword" v-bind:style="oldPasswordIncorrect ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-lock icon" v-bind:style="oldPasswordIncorrect ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
            <p v-show="oldPasswordIncorrect" class="errorMessage">Incorrect Password</p>
           
            <!-- NEW PASSWORD INPUT -->
            <div class="input-container">                      
                <input type="password" placeholder="Type your new password" @click="passwordError=false" v-model="password" v-bind:style="passwordError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-lock icon" v-bind:style="passwordError ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
            <p v-show="passwordError" class="errorMessage">Invalid Password (Must have at least 8 characters)</p>

            <!-- CONFIRM PASSWORD INPUT -->
            <div class="input-container">                      
                <input type="password" placeholder="Confirm password" @click="passwordMatchError=false" v-model="confirmPassword" v-bind:style="passwordMatchError ? 'border: 2px solid #d9534f' : ''">
                <i class="fa fa-lock icon" v-bind:style="passwordMatchError ? 'border: 2px solid #d9534f' : ''"></i>  
            </div>
            <p v-show="passwordMatchError" class="errorMessage">Passwords do not match</p>

            <!-- Submit Changes Button -->
            <div class="text-center">
            <div v-if="showSpinner" class="lds-ring"><div></div><div></div><div></div><div></div></div>
            <button v-else v-on:click="submitChanges" class="btn btn-lg mt-3 txt-center btn-light">Submit Changes</button>
            </div>
            <!-- Button trigger modal -->

  
            <!-- SUBJECT SELECTION MODAL -->
            <div class="modal fade" id="subjectsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose Subjects</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                      
                            <label class="subjectLabel">Mathematics</label>
                            <div v-for="subject in math">
                                <input type="checkbox" v-model="subjects" :value="subject">{{subject}}<br>
                            </div>

                            <label class="subjectLabel">Physics</label>
                            <div v-for="subject in physics">
                                <input type="checkbox" v-model="subjects" :value="subject">{{subject}}<br>
                            </div>

                            <label class="subjectLabel">Chemistry</label>
                            <div v-for="subject in chemistry">
                                <input type="checkbox" v-model="subjects" :value="subject">{{subject}}<br>
                            </div>

                            <label class="subjectLabel">Commerce</label>
                            <div v-for="subject in commerce">
                                <input type="checkbox" v-model="subjects" :value="subject">{{subject}}<br>
                            </div>

                            <label class="subjectLabel">Biology</label>
                            <div v-for="subject in biology">
                                <input type="checkbox" v-model="subjects" :value="subject">{{subject}}<br>
                            </div>

                            <label class="subjectLabel">Languages</label>
                            <div v-for="subject in languages">
                                <input type="checkbox" v-model="subjects" :value="subject">{{subject}}<br>
                            </div>
                       
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel" style="color:black;">Account Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body" style="color: black;">
                            <p>Deleting your tutor account will remove your profile and information from Tutor Me</p>
                            <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" style="border: 1px solid black;" v-on:click="deletePasswordError = false" v-model="deletePassword" class="form-control" id="passwordInput" v-bind:style="deletePasswordError ? 'border: 2px solid #d9534f' : ''">
                            </div>
                            <p v-show="deletePasswordError" style="text-align: center; color: red; margin-bottom: 0px;">Incorrect Password</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" v-on:click="deleteAccount" class="btn btn-danger">Delete Account</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
     </div>   
    <!-- Optional JavaScript -->
    <script src="../script/libs/vue.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDZr12rScVv9aomysgidOeRmleQ82prMyk",
        authDomain: "champs-tutors.firebaseapp.com",
        databaseURL: "https://champs-tutors.firebaseio.com",
        projectId: "champs-tutors",
        storageBucket: "champs-tutors.appspot.com",
        messagingSenderId: "1091581140565"
    };
    firebase.initializeApp(config);
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../script/libs/jquery-3.3.1.min.js"></script>
    <script src="../script/libs/popper.min.js"></script>
    <script src="script/libs/axios.min.js"></script>
    <script src="../script/libs/jwt-decode.min.js"></script>
    <script type="text/javascript" src="../script/libs/validator.min.js"></script>
    <script src="../script/libs/bootstrap.min.js"></script>
    <script src="../script/editProfile.js"></script>
  </body>
</html>
