<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="style/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style/signUp.css">
    </head>
    <body>

      <div id="form">
          <h1>Sign Up</h1>
        
        <fieldset>
           
          <legend><span class="number">1</span> Your Basic Info</legend>
          
              <label for="name">Name:</label>
              <input v-model="name" type="text" id="name" v-bind:style="nameError ? 'border: 2px solid #d9534f' : ''">
              <p v-show="nameError" class="errorMessage">Please insert Name</p>

              <label for="email">Email Address :</label>
              <input v-model="email" type="email" id="email" v-bind:style="emailError||emailDuplicate ? 'border: 2px solid #d9534f' : ''">
              <p v-show="emailError" class="errorMessage">Invalid Email</p>
              <p v-show="emailDuplicate" class="errorMessage">Email is already in use</p>
            
              <label for="password">Password:</label>
              <input v-model="password" type="password" id="password" v-bind:style="passwordError ? 'border: 2px solid #d9534f' : ''">
              <p v-show="passwordError" class="errorMessage">Invalid Password (Must have at least 8 characters)</p>
          
        </fieldset>
         
        <fieldset>
            <legend><span class="number">2</span> Your Profile</legend>
              
            <label for="bio">Credentials:</label>
                <textarea id="credentialsInput"></textarea>

            <label for="bio">Availabilities:</label>
                <textarea id="availabilitiesInput"></textarea>    
           
             <label for="subjects">Subjects:</label>
                <textarea id="subjects" name="user_subjects"></textarea>
           
          
          </fieldset>
             <button v-on:click="submitForm" id="submitButton">Sign Up</button>
        
            </div>
      
      <script src="script/vue.js"></script>
      <script type="text/javascript" src="script/validator.min.js"></script>
      <script src="script/tutorSignUp.js"></script>
    </body>
</html>
