<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/logo.png" />
    <title>Tutor Profile</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style/tutor.css" rel="stylesheet">

  </head>

  <body>
    <div id="tutorInfo">
        <div id="navbar">
            <!-- Nav Bar -->
          <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark fixed-top">
              <div class="container">
                <a class="navbar-brand mr-0" href="/">Champs Tutors</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                  <div class="navbar-nav navbar-right">
                    <a class="nav-item nav-link text-right" v-show="!isSignedIn" href="/signup">Become a Tutor <span class="sr-only">(current)</span></a>
                    <button id="signinButton" class="nav-item nav-link text-right" v-show="!isSignedIn" data-toggle="modal" data-target="#signIn">Tutor Sign In</button>
                    <a class="nav-item nav-link text-right" v-show="isSignedIn" href="/editProfile">Edit Profile<span class="sr-only">(current)</span></a>
                    <button id="signinButton" class="nav-item nav-link text-right" v-show="isSignedIn" data-toggle="modal" data-target="#logOut">Tutor Sign Out</button>
                  </div>
                </div>
              </div>
              </nav> <!-- /NavBar -->
              <!---================================== 
          FORM MODAL
          =====================================-->
      
              <!-- Log Out modal -->
                  
      
              <div class="modal fade bd-example-modal-sm" id="logOut" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Log Out of Tutor Account</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        <button type="button" v-on:click="logOut" class="btn text-center btn-dark">Log Out</button>
                        </div>
                  </div>
                </div>
              </div>
      
          <!-- Modal Sign In-->
          <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Sign In to Tutor Account</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Form -->
                  <p v-show="invalidCredentials" style="color: red">Your username or password is incorrect.</p>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" v-on:keyup.enter="signIn" v-on:click="invalidCredentials = false;" v-model="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password" v-on:keyup.enter="signIn" v-on:click="invalidCredentials = false;" v-model="password" class="form-control" id="passwordInput">
                    </div>
                    <button v-if="!showSpinner" type="button" v-on:click="signIn" class="btn btn-dark">Sign In</button>
                    <div v-else class="spinner">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                    </div>
                  <!-- /Form -->
                </div>
              </div>
            </div>
          </div>
        </div>

    <!-- Page Content -->
    <div class="container" id="tutorProfile">

      
    
        <div class="mx-auto">
          <div class="i-am-centered">
          <div class="row">
          
            <!-- MAIN INFO -->
            <div class="col-md-5">
          <div class="card border-secondary  mt-4">
            <div class="content center">
              <img class="card-img-top profilePic" v-bind:src="tutor.profileImage" alt="">
              <h3 class="card-title mt-3">{{tutor.name}}</h3>
              <h4 v-if="tutor.price > 0"> {{tutor.price + "$/h"}}</h4>
              <h4 v-else>FREE</h4>
            </div>
            <div class="card-body pt-0">
              <!-- <h3 class="card-title">{{tutor.name}}</h3> -->
              <h4 class="center mb-3">
                    <span v-for="(subject, index) in tutor.subjects">{{subject}}<span v-if="index + 1 < tutor.subjects.length">, </span></span>
              </h4>
              <div class="center">
              <i v-for='n in Math.trunc(Math.round(tutor.rating*2)/2)' class="fas fa-star star-color"></i><i v-if='Math.round(tutor.rating*2)/2 % 1 === 0.5' class="fas fa-star-half-alt star-color"></i><i v-for='n in 5-Math.round(Math.round(tutor.rating*2)/2)' class="far fa-star star-color"></i>
              <span v-if="tutor.reviews.length > 0">{{tutor.rating.toFixed(1)}} stars</span>
              <span v-else>(No reviews)</span>
              </div>
              
            </div>
          </div>
          </div>
          <!-- SECONDARY INFO CARD -->
          <div class="col-md-7">
          <div class="card border-secondary mt-4 " >
              <ul class="list-group list-group-flush">
                  <div class="card-header">Description</div>
                <li class="list-group-item" style="white-space: pre-wrap">{{tutor.description}}</li>
                <div class="card-header">Contact Info</div>
                    <li class="list-group-item"><i class="fa fa-envelope icon"> </i> {{ tutor.email }}</li>
                    <li class="list-group-item" v-if="tutor.phone !== ''"> <i class="fa fa-mobile-alt icon">  </i> <a v-bind:href="'tel:+1' + tutor.phone"> {{formattedPhone}} </a> </li>
                    <li class="list-group-item" v-if="tutor.facebook !== ''"> <i class="fab fa-facebook-square"></i> <a target="blank" v-bind:href="tutor.facebook"> Click Here</a></li>
                </div>
               </ul>
          </div>
        </div> <!-- /row -->
          <!-- /.card -->
        </div>
          <div class="card card-outline-secondary border-secondary my-4 pb-3 mx-3">
            <div class="card-header text-center font-weight-bold">
              Tutor Reviews
            </div>
            <div class="card-body">
              <h3 v-show="tutor.reviews.length === 0" class="text-center text-muted" >This Tutor Currently Has No Reviews</h3>
              <div v-for="review in tutor.reviews">
                <i v-for='n in Math.trunc(Math.round(review.rating*2)/2)' class="fas fa-star star-color"></i><i v-if='Math.round(review.rating*2)/2 % 1 === 0.5' class="fas fa-star-half-alt star-color"></i><i v-for='n in 5-Math.round(Math.round(review.rating*2)/2)' class="far fa-star star-color"></i>
                {{review.rating}} stars
              <p>{{review.text}}</p>
              <small class="text-muted">Posted by {{review.reviewer}} on {{formatDate(new Date(review.createdAt))}}</small>
              <hr>
              </div>
              <a href="#" class="btn btn-outline-dark mx-auto leave-review" data-toggle="modal" data-target="#postReview">Leave a Review</a>
              
            </div>
          </div>
          <!-- /.card -->

        </div>
        

          <!-- Modal to post and array -->
        <div class="modal fade" id="postReview" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Post a Review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div  class="modal-body">
                  
                  <!-- Form -->
                    <div v-show="reviewPosted">
                     
                        <div class="form-group" >
                          <input type="text" placeholder="Enter Your Name (Optional)" v-model="reviewer" class="form-control" id="name">
                          
                          <input type="text" placeholder="Enter Code (Provided by Tutor)" @click="reviewerCodeError=false" v-model="reviewerCode" v-bind:style="reviewerCodeError ? 'border: 1px solid red' : ''" class="form-control mt-3">
                          <p v-show="reviewerCodeError" style="color: red; text-align: center;">Wrong Code</p>
                        </div>
                        
                        <div class="form-group">
                          
                            <fieldset class="rating" >
                                <input v-model="rating" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input v-model="rating" type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input v-model="rating" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input v-model="rating" type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input v-model="rating" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input v-model="rating" type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input v-model="rating" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input v-model="rating" type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input v-model="rating" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input v-model="rating" type="radio" id="starhalf" name="rating" value=".5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                            <p class="text-danger text-center" v-show="ratingError">A Rating Is Required</p>
                        </div>
                        
                          <div class="form-group">
                              <textarea v-model="ratingComment" placeholder="Enter comment here..." class="form-control" id="comments" v-bind:style="commentError ? 'border: 2px solid #d9534f' : ''"></textarea>
                              <p style="text-align: right" v-bind:style="ratingComment.length > 200 ? 'color: red' : ''">{{remainingComment}}</p>
                          </div>
                        
                          <button type="button" v-on:click="postReview" class="btn btn-dark">Post Review</button>
                        </div>
                      </div>   
                      <h4 v-show="reviewPosted === false" class="text-center text-muted">Your Review Has Been Submitted</h4>
                  <!-- /Form -->
                </div>
              </div>
            </div>
          </div>

      </div> 
       
</div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class=" py-5 footer bg-dark">
      <div class="container">
        <p class="mt-3 text-center text-white">Copyright &copy; TutorMe 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Optional JavaScript -->
    <script src="script/libs/vue.js"></script>
    <script src="script/libs/jwt-decode.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="script/libs/jquery-3.3.1.min.js"></script>
    <script src="script/libs/popper.min.js"></script>
    <script src="script/libs/bootstrap.min.js"></script>
    <script src="script/navbar.js"></script>
    <script src="script/tutor.js"></script>
 
  </body>

</html>
