<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tutor Name </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style/bootstrap.min.css">
  </head>
  <body>
    <div>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-0" href="/">Tutor Me</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-right">
              <a class="nav-item nav-link text-right" href="/signup">Become a Tutor<span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link text-right" href="#reviews">Tutor Sign In</a>
            </div>
          </div>
        </div>
        </nav> <!-- /NavBar -->

       <div class="container">
      <h2 class="display-4 text-center mt-5 mb-3 text-muted" v-show="false">Tutor Profile</h2>
      
      <div id="tutorProfile" class="row">
        <!-- Picture Card -->
          <div class="col-md-4 col-lg-4">
              <div class="card mb-3">
                  <img class="card-img-top" src="img/jay.png" alt="Profile Pic">
                  <div class="card-body">
                      <h5 class="card-title">{{tutor.name}}</h5>
                      <h6 class="card-subtitle mb-1 text-muted">
                          {{tutor.price + "$/h for "}}<span v-for="(subject, index) in tutor.subjects">{{subject}}<span v-if="index + 1 < tutor.subjects.length">, </span></span>
                        </h6>
                      <p class="card-text">*First Lesson Free*</p>
                      
                  </div>
                </div>
          </div>

          <!-- Description Card -->
          <div class="col-md-4 col-lg-4">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header">Credentials</div>
              <div class="card-body text-dark">
               
                <p class="card-text">I have been tutoring fellow students in mechanics for around 2 semesters. I got a 92 avg and 36 r-score in mechanics, and an avg of 95 in Waves and Optics. I offer the first lesson for free. I can provide my own problem sets with solutions along with my old tests</p>
              </div>
            </div>
           </div> 
         <!-- Availabilities Card -->
         <div class="col-md-4 col-lg-4">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Credentials</div>
                <div class="card-body text-dark">
                 
                  <p class="card-text">I have been tutoring fellow students in mechanics for around 2 semesters. I got a 92 avg and 36 r-score in mechanics, and an avg of 95 in Waves and Optics. I offer the first lesson for free. I can provide my own problem sets with solutions along with my old tests</p>
                </div>
              </div>
             </div> 
              <!-- Contact Info Card -->
            <div class="col-md-4 col-lg-4">
              <div class="card " style="width: 18rem;">
                  <div class="card-header">
                    Contact Info
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">danielbucci@gmail.com</li>
                    <li class="list-group-item">450-930-3993</li>
                    <li class="list-group-item">facebook: Daniel Bucci</li>
                  </ul>
                </div>
              </div>   <!--/Contact Info Card-->

                
              
        </div>
    </div> <!--End of Tutor List -->
    <!-- Optional JavaScript -->
    <script src="script/libs/vue.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="script/libs/jquery-3.3.1.min.js"></script>
    <script src="script/libs/popper.min.js"></script>
    <script src="script/libs/bootstrap.min.js"></script>
    <script src="script/tutor.js"></script>
</body>
</html>