*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),  url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* Spinner START*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Spinner END */
  
  #profilePic {
    height: 150px;
    width: 150px !important;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 2px solid white;
  }

  #form {
    max-width: 425px;
    margin: 10px auto;
    padding: 10px 20px;
    background: transparent;
    border-radius: 8px;
  }
  
  h1 {
    margin: 35px 0 30px 0;
    text-align: center;
  }

  .subjectLabel {
    font-size: 20px;
    font-weight: bold;
  }
  
  #exampleModalLabel {
    font-size: 30px;
    margin: 0 auto;
  }
  
  .icon {
    padding: 10px;
    background: transparent;
    color: white;
    min-width: 50px;
    text-align: center;
    border: 1px solid white;
    border-left:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: 1px solid white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
  }

  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
  }
  
  textarea {  
    margin-bottom: 0;  
    resize: none;
    min-height: 120px;
    margin-bottom: 15px;
  }
  
  .subjectButton {
    text-align: left;
    background: rgba(255,255,255, 0.8) !important;
    color: black !important;
    border: 1px solid white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0) inset !important;
    margin-bottom: 15px;
  }
  
  .subjectButton:hover {
    box-shadow: 0 0 12px rgba(0,0,0) inset !important;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 10px 5%;
  }
  
  ::placeholder { /* this works with Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* this is to override the Firefox opacity */
  }

  input[type="password"] {
    color: grey;
}

  input[type="password"],
    ::placeholder { /* this works with Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(202, 201, 201);
    opacity: 1; /* this is to override the Firefox opacity */
 }

  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  
  .submitChangesButton {
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    color: #FFF;
    background-color: #555756;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #616462;
   
  }
  
  .subjectButton {
    text-align: left;
    background: rgba(255,255,255,0.1);
    border: 1px solid white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    color: white;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #434744;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  #subjectsModal {
    color: black;
  }

  .errorMessage {
      color: #d9534f;
      margin-top: -10px;
  }

  .deleteButton {
    position: absolute;
    top: 8px;
    right: 16px;
  }

   .home-button {
    position: absolute;
    top: 8px;
    left: 16px; 
   }
  
  @media screen and (min-width: 480px) {
  
    #form {
      max-width: 400px;
    }
  
  }
  