/* #mainImage{
    background: url("./../img/banner.jpg") no-repeat center;
    background-size: cover;
   
} */

.star-color {
    color: rgb(250, 191, 64);
    font-size: 1.5rem;
  }
   

.dont-break-out {
    word-wrap: break-word;
}

.same-line {
    display: flex;
    justify-content: space-between;
}

.input-group {
    background: linear-gradient(
        rgba(175, 172, 172, 0.45), 
        rgba(175, 172, 172, 0.45)
      );
    color: #ddd;
}

#tinted-image {
    background: 
      /* top, transparent black, faked with gradient */ 
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),
      /* bottom, image */
      url("./../img/banner.jpg") no-repeat center;
      background-size: cover;
}

.card {
    
    box-shadow:0 0 10px rgba(0,0,0,0.13);
}

.profilePic {
    box-shadow:0 0 10px rgba(0,0,0,0.63);
    border-radius: 2.5%;
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
.content {
    width: auto;
    padding: 20px;
    padding-bottom: 0px;
    overflow: hidden;
  }
  
  .content img {
    margin-right: 15px;
    float: left;
  }

  /* @media (max-width: 992px) { */
   
    .content {
      padding-bottom: 0px;
    }
    
    .content img {
      margin-right: 50%;
      float: none;
    }
    .center {
      margin: auto;
     
      text-align: center;
  }
    
  /* } */
