@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { 
  margin: 0; 
  padding: 0; 
}

.star-color {
  color: rgb(250, 191, 64);
  font-size: 1.5rem;
}

/* .card-header {
  background-color: #3e4444;
  color: white;
} */
.icon {
  color:  #3e4444;
  font-size: 1.25rem;
 
}

footer {
  padding: 25px 0;
}

.profilePic {
  box-shadow:0 0 10px rgba(0,0,0,0.63);
  border-radius: 2.5%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.content {
  width: auto;
  padding: 20px;
  overflow: hidden;
}

.content img {
  margin-right: 15px;
  float: left;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#tutorInfo{
  flex: 1;
}

/****** Style Star Rating Widget *****/

.rating { 
  margin: auto;
  width: 60%;
  margin-top: 2px;
  padding-bottom: 0;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

a:hover {
  text-decoration: none;
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

textarea{
  resize: none;
  height: 130px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
body {
    padding-top: 54px;
    /* background: rgb(239, 240, 240); */
  }


/* -------------------
tutor profile page 
---------------------*/

  .i-am-centered { 
    margin: auto;
      width: 90%;
      
  }
  .leave-review {
      justify-content: center;
  }


  
  @media (max-width: 992px) {
    body {
      padding-top: 56px;
    }
    .content {
      padding-bottom: 0px;
    }
    
    .content img {
      margin-right: 50%;
      float: none;
    }
    .center {
      margin: auto;
     
      text-align: center;
    }
    
  }

  @media (max-width: 510px) {
    .rating { 
      margin: auto;
      width: auto;
      max-width: 300px;
      margin-top: 2px;
      padding-bottom: 0;
    }
    
    
  }

  @media (max-width: 450px) {
    .rating { 
      margin: auto;
      width: auto;
      max-width: 280px;
      margin-top: 2px;
      padding-bottom: 0;
    }
    
  }

  @media (max-width: 450px) {

    .rating { 
      margin: auto;
      width: auto;
      max-width: 258px;
      margin-top: 2px;
      padding-bottom: 0;
    }

    .rating > input { display: none; } 
    .rating > label:before { 
        margin: 5px;
        font-size: 2.7em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
      }
    
  }
  